// for light
// background color and font color
$light-bg-primary-color: #dfe6e9;
$dark-font-primary-color: #000000;
// for dark
// background color and font color
$dark-bg-primary-color: #000000;
$light-font-primary-color: #dfe6e9;
// for body color
$body-light-bg-color: #ffffff;
$body-dark-bg-color: #333;
