@import "variable";
@import "common";

@mixin animate($animation-name, $duration) {
  animation: $animation-name $duration;
}

@mixin dialog-opacity-animation($animation-name, $from-opacity, $to-opacity) {
  @keyframes #{$animation-name} {
    from {
      opacity: $from-opacity;
    }
    to {
      opacity: $to-opacity;
    }
  }
}

@mixin dialog-style {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  @include theme-switcher($theme);
  backdrop-filter: blur(10px);
  z-index: 1;

  .setting_dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
    @include theme-switcher($theme);
    border-radius: 5px;
    padding: 1rem;
    box-shadow: 0px 0px 16px 3px #838383;
    @include dialog-opacity-animation(dialogOpacity, 0, 1);
    @include animate(dialogOpacity, 0.8s);

    .dialog_header {
      @include flex-space-between;
      margin-bottom: 0.5rem;

      .close {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25px;
        height: 25px;
        @include theme-switcher($theme);
        border-radius: 50%;
        cursor: pointer;

        &:hover {
          background-color: #d2d2d2;
        }
      }
    }

    .dialog_contant {
      div {
        @include flex-space-between;

        select {
          width: 100px;
          @include theme-switcher($theme);
        }
      }
    }
  }
}
